= f.input :depression_level, collection: 0..10
= f.input :doing_right_now, as: :text
= f.input :woke_up_today_at, as: :string
= f.input :fell_asleep_last_night, as: :string
= f.input :intoxication_level, collection: 0..5
