.container-fluid
  .well
    %h1 Tracking #{@type.humanize}
    = simple_form_for @record, url: tracking_path(@type), method: 'post' do |f|
      = f.error_notification
      = render @type, f: f
      .actions
        = f.submit "Track", class: 'btn btn-primary'
        = link_to 'index', tracking_root_path
