- env[:wiki_page] = page
.editor
  = form_for page, method: 'put', url: wiki_page_path(page) do |f|

    .textarea= f.text_area :content
    = render 'markdown_cheatsheet'

    .link-list
      = link_to 'cheatsheet', '', class: 'show-markdown-cheatsheet'
      = link_to 'editor', '', class: 'show-editor'
      = link_to 'cancel', wiki_page_path(page), class: 'cancel-edit'
      = link_to page.new_record? ? 'create' : 'save', '', class: 'submit'
