!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= @title || 'Jaredatron'
    %meta{:content => "", :name => "description"}/
    %link{:href => asset_path("favicon.ico"), :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => asset_path("favicon.ico"), :rel => "icon", :type => "image/x-icon"}/
    %link{rel: "apple-touch-icon", href:  asset_path("ios-icon.png")}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body{page_name: page_name, controller: controller_name, action: action_name}
    - if authenticated?
      %header
        .link-list
          = link_to 'wiki', wiki_path
          = link_to 'tracking', tracking_root_path
          = link_to 'focus', focus_path
        .link-list.pull-right
          = link_to 'logout', unauthentication_path

    .page= yield
