!!!
%html{page_name: page_name, controller: controller_name, action: action_name}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title= @title || 'Jaredatron'
    %meta{:content => "", :name => "description"}/
    %link{rel: "apple-touch-icon", href:  asset_path("ios-icon.png")}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body= yield
